.btn {
  margin: 0 0.125rem 0 0;
}

.item-img {
  width: 32px;
  height: 32px;
  border-radius: 0.2rem;
  margin-right: 0.25rem;
}

#my-cart-table {
  margin: 0;
}

.page-remove-button {
  margin: 0 0 0 0.125rem;
}

.my-cart-btn {
  margin-left: 1rem;
}

/* CUSTOMIZE: To style the item name */
.item-name {
  font-weight: bold;
}

/* CUSTOMIZE: To style the item description */
.item-details {
  margin: 0 0 0.2rem 0;
}

/* CUSTOMIZE: To style the price displayed in the menu */
.price {
  margin: 0.5rem 0 0 0;
  font-weight: bold;
}

.badge-notify {
  color: white;
  position: relative;
  top: -14px;
  right: 14px;
}

#my-cart-modal {
  display: block;
  position: relative;
  z-index: 10;
}

.modal-dialog {
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
  min-width: 17.75rem;
  max-width: 31.25rem;
}

/* CUSTOMIZE: To style the item quantity displayed in the cart */
.my-product-quantity {
  text-align: center;
}

/* For the Offcanvas template */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out,
      -webkit-transform 0.3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.bg-purple {
  background-color: #6f42c1;
}

.lh-100 {
  line-height: 1;
}
.lh-125 {
  line-height: 1.25;
}
.lh-150 {
  line-height: 1.5;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media (max-width: 768px) {
  .item-img {
    width: 64px;
    height: 64px;
    margin-right: 0.25rem;
  }
}
